# project output directory (Scala)
**/target/

# system and IDE setting files
*.iml
.DS_Store
.ensime
.ensime_cache
.ensime_lucene
.idea
.idea_modules

.bloop
.metals
metals.sbt
.bsp

# JavaScript and TypeScript
node_modules

**/input/test.txt
